* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    height: 2px;
    /* Set the desired thickness */
    background-color: #2F3E53;
    /* Set the desired color */
    border: none;
    /* Remove the default border */
    margin-top: 2em;
}

body {
    background-color: #1C1C1C;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
}

.app {
    width: 40em;
    background-color: #273549;
    border-radius: 1em;
    padding: 6em;
}

.heading {
    font-size: 2.5rem;
    font-family: Karla;
    font-weight: 800;
    color: white;
}

.heading-green {
    color: #10B981;
}

.subheading {
    color: #D5D4D8;
    font-family: Inter;
    margin-top: 0.3em;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 3em;
}

#password-length-slider {
    vertical-align: middle;
}

.password-length-slider {
    accent-color: #00ffaa;
}

.password-options {
    display: flex;
    flex-direction: column;

}

.password-options form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.btn {
    display: block;
    margin-top: 3em;
    font-family: Inter;
    padding: 0.8em 1em;
    border-radius: 0.5em;
    background-color: #067F56;
    color: #f5f5f5;
    font-size: 1.1rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #1f8865;

}

.password-container {
    margin-top: 2.1875em;
    display: flex;
    gap: 1em;

}

.password {
    width: 13.1875em;
    height: 2.4375em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #2F3E53;
    color: #00ffaa;
    font-family: Inter;
}

.password:hover {
    cursor: pointer;
    color: #2e9271;
}